body {
  font-family: 'Noto Sans KR', sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

body.dark {
  background-color: #1a202c;
  color: #f7fafc;
}

.custom-button {
  @apply bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-lg transition;
}

.custom-section {
  @apply bg-white dark:bg-gray-800 p-6 rounded-xl shadow-md mb-8 transition;
}

.image-frame {
  @apply rounded-xl shadow-md w-full max-w-md mx-auto mb-4;
}

.footer-text {
  @apply text-center text-sm text-gray-500 mt-12 dark:text-gray-300;
}

.toggle-content {
  display: none;
}
